<section>
    <div class="hp sec-1">
        <div class="content">
            <div class="blurb">
                <h1>Let us help you see the world in a better light.</h1>
                <p>Our glasses are used and recommended by doctors and patients alike. Search our Catalogue for a frame and lens that fit your personality.</p>
                <a href="#!products" class="btn nrad btn--font">View All Products</a>
            </div>
        </div>
    </div>
    <div class="hp sec-2">
        <div class="content">
            <h2>See our Categories</h2>
            <div class="categories">
                <a href="#">
                    <div class="category">
                        <img src="/images/1.jpg" alt="image of sunglass">
                        <p>Sunglasses</p>
                    </div>
                </a>
                <a href="#">
                    <div class="category">
                        <img src="/images/1.jpg" alt="image of sunglass">
                        <p>Prescription Glasses</p>
                    </div>
                </a>
                <a href="#">
                    <div class="category">
                        <img src="/images/1.jpg" alt="image of sunglass">
                        <p>Fashion Glasses</p>
                    </div>
                </a>
                <a href="#">
                    <div class="category">
                        <img src="/images/catBR.jpg" alt="image of sunglass">
                        <p>Computer Glasses</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <div class="hp sec-3">
        <div class="content">
            <h2>Share the love this holiday</h2>
            <div class="grid-2">
                <div class="text">
                    <h3>Buy one as a Gift</h3>
                    <p><em>"Sharing is caring"</em>, or so they say. Gift a pair of glasses to a friend, family or even a love interest.</p>
                    <p>Show them how much you care this holiday, choose from our wide array of products, whether its prescription glasses or non-prescription glasses. We have them all !</p>

                    <button class="btn btn--primary">Create a Gift</button>
                </div>
                <img src="/images/gifts.jpg" alt="Image of some gifts">
            </div>
        </div>
    </div>
    
</section>