<footer class="footer">
    <div class="content">
        <div class="footer-links">
            <div class="col">
                <p class="foot_head">Company</p>
                <a href="#" class="foot_link">About Us</a>
                <a href="#" class="foot_link">Contact</a>
                <a href="#" class="foot_link">Service</a>
    
            </div>
            <div class="col">
                <p class="foot_head">Help</p>
                <a href="#" class="foot_link">Customer Service</a>
                <a href="#" class="foot_link">Shipping and Tracking</a>
                <a href="#" class="foot_link"></a>
    
            </div>
            <div class="col">
                <p class="foot_head">Policies</p>            
                <a href="#" class="foot_link">Terms and Conditions</a>
                <a href="#" class="foot_link">Privacy Policy</a>
                <a href="#" class="foot_link">Return Policy</a>
            </div>
            <div class="col">
                <p class="foot_head">Contact Lenses</p>            
                <a href="#" class="foot_link">Eyeland Eyewear</a>
                <a href="#" class="foot_link">Optical Solutions</a>
                <a href="#" class="foot_link">Courts Opticaly</a>
            </div>
        </div>

        
    </div>
</footer>